.edit-note-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em;
  padding-left: 0.5em;
}

.notes-container {
  background-color: rgb(245, 222, 179);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:1.3rem;
  align-content: flex-start;
  width: 97%;
  height: 30em;
  border:3px solid rgb(237, 113, 5);
  border-radius: 10px;
  padding: 0.6rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.notes-container::-webkit-scrollbar {
  padding: 5px;
  width: 15px;
  border-radius: 50px;
  background-color: #e7e4e4; 
}

.notes-container::-webkit-scrollbar-thumb {
  order:3px rgb(243, 201, 110) solid;
  border-radius: 10px;
  background-color: rgb(241, 192, 85);
}

.note-item-edit{
  position:relative;
  background-color: rgb(248, 209, 151);
  border: 4px solid rgb(237, 113, 5);
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  height: 170px;
  width: 170px;
  display: grid;
  padding: 3px;
  padding-left: 5px;
  gap: 5px;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 30% 30% 38%;
  transition: box-shadow 0.5s;
  overflow: hidden;
  cursor: pointer;
}

.note-item-edit:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.note-item-edit > h2 {
  align-self: center;
  text-align: center;
  grid-column: span 4;
}

.note-item-edit:hover > h2{
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-position: under;
  text-underline-offset: 1px;
}

.note-item-edit > label {
  font-size: 14px;
  color: rgb(18, 181, 18);;
  font-weight: 700;
  grid-column: span 2;
  align-self: center;
  cursor: pointer;
}

.note-item-edit > .edit-btn{
  grid-column: span 2;
  grid-row: 3/-1;
}

.edit-btn > button{
  position: relative;
  top: 20%;
  left: 23%;
  background-color: rgb(241, 171, 65);
  padding: 5px;
  border: 2px solid rgb(209, 100, 6);
  border-radius: 8px;
  color:rgb(222, 104, 0);
  cursor: pointer;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  transition: box-shadow 1s;
}

.note-item-edit:hover > .edit-btn > button{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.note-item-edit > .edit-btn > button:hover{
  box-shadow: rgb(222, 104, 0) 0px 5px 15px 0px;
}

.edit-btn > button.delete{
  background-color: rgb(242, 117, 101);
  color: rgb(218, 65, 9);
}

.edit-btn > button.delete:hover{
  box-shadow: rgb(218, 65, 9) 0px 5px 15px 0px;
}

.backdrop{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(100, 99, 99, 0.6);
}