.field {
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: 0.6em;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

.label-dropdown {
  pointer-events: none;
}

.btnWithDropDown {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-category {
  position: relative;
  margin-right: auto;
  outline: none;
  cursor: pointer;
  padding: 1px;
  min-width: 8em;
  height: 1.4rem;
  color: rgb(237, 113, 5);
  font-weight: 600;
  border: 3px solid rgb(237, 113, 5);
  border-radius: 5px;
  background-color: white;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 12em;
}

.btn-category::after {
  content: "\25be";
  color: rgb(237, 113, 5);
  font-weight: 900;
  font-size: larger;
  position: absolute;
  right: 4px;
  top: -5px;
  transition: transform 0.5s;
}

.btn-category-active.btn-category::after {
  transform: rotate(180deg);
}

.btn-category:focus {
  -moz-box-shadow: 0 0 5px rgb(237, 113, 5);
  -webkit-box-shadow: 0 0 5px rgb(237, 113, 5);
  -o-box-shadow: 0 0 5px rgb(237, 113, 5);
  -ms-box-shadow: 0 0 5px rgb(237, 113, 5);
  box-shadow: 0 0 5px rgb(237, 113, 5);
}

.dropdown {
  position: absolute;
  top: 1.3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: bisque;
  border-radius: 5px;
  border: 2px solid rgb(237, 113, 5);
  min-width: 5em;
  z-index: 1;
}

.no-display {
  opacity: 0;
  visibility: hidden;
}

.dropdown > button {
  font-weight: 700;
  color: rgb(237, 113, 5);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: text-shadow 0.6s;
  align-self: stretch;
}

.dropdown > button:nth-child(2n) {
  background-color: rgb(253, 199, 133);
}

.dropdown > button:hover {
  text-shadow: 0 0 2.8px rgb(227, 150, 8);
}

.dropdown > button.btn-blocked {
  text-decoration: line-through;
  text-decoration-style: solid;
  text-decoration-color: orangered;
  text-decoration-thickness: 0.1rem;
  cursor: default;
}

.dropdown > button.btn-blocked:hover {
  text-shadow: none;
}

.animation-go-down {
  animation: go-down 0.5s linear 0s 1 normal;
  animation-fill-mode: forwards;
}

@keyframes go-down {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animation-go-up {
  animation: go-up 0.5s linear 0s 1 normal;
  animation-fill-mode: forwards;
}

@keyframes go-up {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@media all and (max-width: 600px) {
  .label-dropdown {
    inline-size: 5em;
    overflow-wrap: break-word;
  }

  .dropdown {
    top: 1.8em;
  }
}
