.inputDiv > input[type='text']{
  position:relative;
  border: 2px solid rgb(237, 113, 5);
  padding: 3px;
  border-radius: 5px;
  color:rgb(237, 113, 5);
  font-weight: 600;
}

.inputDiv > input[type='text'] ~ label[custom]{
  position:relative;
}

.inputDiv > input[type='text'] ~ label[custom]::after{
  content:attr(custom);
  position:absolute;
  top:-3.2em;
  left:-16.5em;
  width: max-content;
  padding: 2px;
  font-size: 12px;
  z-index: 1;
  background-color: rgba(251, 189, 113,0.75);
  color:red;
  border-radius: 5px;
  border: 2px solid rgb(237, 113, 5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.5s;
  font-weight: 800;
}

.inputDiv > input[type='text']:hover ~ label[custom]::after{
  opacity: 1;
  visibility: visible;
}

.inputDiv > input[type='text']:focus{
  outline: none;
  -moz-box-shadow: 0 0 5px rgb(237, 113, 5);
  -webkit-box-shadow: 0 0 5px rgb(237, 113, 5);
  -o-box-shadow: 0 0 5px rgb(237, 113, 5);
  -ms-box-shadow: 0 0 5px rgb(237, 113, 5);
  box-shadow: 0 0 5px rgb(237, 113, 5);
}

.inputDiv > label:has(+input[required])::after {
  content:'*';
  color:rgb(220, 86, 52);
}