.textArea {
  width: 100%;
  padding: 10px;
  height: 27em;
  color: #777;
  caret-color: rgb(237, 113, 5);
  font-weight: 600;
  border: 3px solid rgb(237, 113, 5);
  border-radius: 10px;
  resize: none;
}

.textArea::placeholder {
  color: rgba(129, 127, 127, 0.7);
}

.textArea:focus {
  outline: none;
  -moz-box-shadow: 0 0 5px rgb(237, 113, 5);
  -webkit-box-shadow: 0 0 5px rgb(237, 113, 5);
  -o-box-shadow: 0 0 5px rgb(237, 113, 5);
  -ms-box-shadow: 0 0 5px rgb(237, 113, 5);
  box-shadow: 0 0 5px rgb(237, 113, 5);
}

.textArea::-webkit-scrollbar {
  padding: 5px;
  width: 15px;
  border-radius: 50px;
  background-color: #e7e4e4;
}

.textArea::-webkit-scrollbar-thumb {
  order: 3px rgb(243, 201, 110) solid;
  border-radius: 10px;
  background-color: rgb(236, 189, 87);
}
