* {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: auto;
  background-color: rgb(25, 133, 200);
}

body::-webkit-scrollbar {
  padding: 5px;
  width: 15px;
  border-radius: 50px;
  background-color: #e7e4e4;
}

body::-webkit-scrollbar-thumb {
  border: 2px rgb(67, 154, 204) solid;
  border-radius: 14px;
  background-color: rgb(22, 114, 167);
}

body:has(.backdrop) {
  overflow: hidden;
}

#root {
  min-height: 135vh;
  height: auto;
  margin: 0px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/background.jpg");
}
