*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 100%;

  --dark-blue-3: rgb(22, 114, 167);
  --dark-blue-0: rgb(25, 133, 200);
  --light-blue-0: rgb(83, 166, 214);
  --light-blue-1: rgb(67, 154, 204);
}

body {
  padding: 2rem;
  margin: 0;
  min-height: 100vh;
  background-color: var(--light-blue-0);
  background-image: linear-gradient(
    to bottom right,
    var(--light-blue-0),
    var(--dark-blue-3)
  );
}

body::-webkit-scrollbar {
  padding: 5px;
  width: 15px;
  border-radius: 50px;
  background-color: #e7e4e4;
}

body::-webkit-scrollbar-thumb {
  border: 2px var(--light-blue-1) solid;
  border-radius: 1rem;
  background-color: var(--dark-blue-3);
}

body:has(.backdrop) {
  overflow: hidden;
}

.logo {
  height: 3em;
  flex-basis: 60px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.spanRed {
  color: red;
}

@media all and (max-width: 600px) {
  body {
    padding: 0;
  }
  #root {
    border: none;
    border-radius: 0;
  }
}

@media only screen and (hover: hover) {
  #root:has(.backdrop) {
    padding-right: 15px;
  }

  #root:has(.backdrop) .nav,
  #root:has(.backdrop) .footer {
    margin-right: -15px;
  }

  #root:has(.backdrop) .nav {
    padding-right: 20px !important;
  }
}
