*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 100%;

  --dark-blue-3: rgb(22, 114, 167);
  --dark-blue-0: rgb(25, 133, 200);
  --light-blue-0: rgb(83, 166, 214);
  --light-blue-1: rgb(67, 154, 204);
}

body {
  padding: 2rem;
  margin: 0;
  height: auto;
  background-color: var(--light-blue-0);
  background-image: linear-gradient(
    to bottom right,
    var(--dark-blue-0),
    var(--light-blue-0)
  );
}

body::-webkit-scrollbar {
  padding: 5px;
  width: 15px;
  border-radius: 50px;
  background-color: #e7e4e4;
}

body::-webkit-scrollbar-thumb {
  border: 2px var(--light-blue-1) solid;
  border-radius: 1rem;
  background-color: var(--dark-blue-3);
}

body:has(.backdrop) {
  overflow: hidden;
}

#root {
  min-height: 135vh;
  height: auto;
  margin: 0px;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border: 2px solid var(--dark-blue-3);
  border-radius: 1rem;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media all and (max-width: 600px) {
  body {
    padding: 0;
  }
  #root {
    border: none;
    border-radius: 0;
  }
}

@media only screen and (hover: hover) {
  #root:has(.backdrop) {
    padding-right: 15px;
  }

  #root:has(.backdrop) .nav,
  #root:has(.backdrop) .footer {
    margin-right: -15px;
  }

  #root:has(.backdrop) .nav {
    padding-right: 20px !important;
  }
}
