.delete-form {
  position: absolute;
  top: 20%;
  min-width: 60%;
  min-height: 43%;
  margin: 0px 1.2rem;
  border-radius: 20px;
  color: $color-blue-dark;
  border: 10px double;
  background-color: rgba($color-blue-fade, 85%);
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  @include animation(anim-lineUp 1s ease-out 0s 1 normal forwards);

  @media all and (max-width: 600px) {
    min-width: 80%;
  }

  & > h2 {
    text-align: center;
    font-weight: 900;
  }
}

.anim-line-down-del {
  @include animation(anim-out-down 0.3s ease-out 0s 1 normal forwards);
}

div:has(> .del-btn) {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.del-btn {
  padding: 0.4rem;
  font-size: 1.4rem;
  font-weight: 800;
  border-radius: 10px;
  cursor: pointer;
  color: darken($color-green, 8%);
  font-weight: 700;
  background-color: rgba($color-green-fade, 0.85);
  border: 4px double;
  transition:
    box-shadow 0.7s,
    transform 0.5s,
    transform 0.3s;

  &:hover {
    box-shadow:
      3px 3px 20px $color-green-fade,
      -2px 1px 30px $color-green;
  }

  &:active {
    transform: translateY(5px);
  }
}

.btn-no {
  color: $color-red;
  background-color: $color-orange-fade;
  border: 4px double;

  &:hover {
    box-shadow:
      3px 3px 20px $color-red,
      -2px 1px 30px $color-orange-fade;
  }
}
