:root {
  --display-time: 2s;
}

.small-margin {
  margin: 5px;
}

.medium-margin-bot {
  margin-bottom: 1.5rem;
}

.txt-center {
  text-align: center;
}

.txt-bold {
  font-weight: bolder;
}

.txt-red {
  color: $color-red;
}

.text-highlighted {
  background-color: $color-orange-fade;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
