$color-blue: rgb(25, 133, 200);
$color-blue-fade: rgb(154, 207, 239);
$color-blue-white: rgb(190, 225, 246);
$color-blue-dark: rgb(15, 112, 172);

$color-gray-1: rgb(103, 102, 102);
$color-gray-2: #777;

$color-green: rgb(18, 181, 18);
$color-green-dark: rgb(7, 139, 7);
$color-green-fade: rgb(133, 228, 133);

$color-green-2: rgb(13, 159, 111);
$color-green-2-fade: rgb(135, 240, 205);

$color-red-fade: rgb(255, 147, 133);
$color-red: rgb(218, 65, 9);

$color-orange-fade: rgb(250, 180, 126);

$breakpoint-phone: 500px;
