.small-margin{
    margin:5px;
}

.txt-center{
    text-align: center;
}

.txt-bold{
    font-weight: bolder;
}

.div-scroll-Y{
  height: 100%;
  overflow-y: auto;
}

@keyframes anim-lineDown {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  45% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(90%);
  }
}