.settings-panel {
  margin-left: 5em;
  margin-right: 5em;
  background-color: rgba($color-blue-fade, 75%);
  min-height: 40em;
  border: 10px double $color-blue-dark;
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1em;
  color: $color-blue-dark;
  font-size: larger;
  font-weight: 600;

  @media all and (max-width: 700px) {
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
}

.forms-panel {
  padding: 10px;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  border: 3px solid $color-blue-dark;
  border-radius: 10px;
  background-color: rgba($color-blue-white, 55%);
  gap: 2rem;

  & > h2 {
    text-align: center;
    font-weight: 800;
    text-decoration: underline dotted;
    text-underline-position: under;
    text-underline-offset: 1px;
  }
}
  
.btn-to-form {
  padding: 5px;
  color: $color-blue-dark;
  background-color: $color-blue-fade;
  font-size: large;
  font-weight: 700;
  border: 3px solid;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: all 0.65s;

  &:hover {
    color:white;
    background-color: $color-blue-dark;
    box-shadow: white 0px 5px 10px 0px;
  }
}

// ---------------------------------------XXXXXXXX-----------------------------------------------
.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(100, 99, 99, 0.6);
  display: flex;
  justify-content: center;
  padding: 2rem;

  @media all and (max-width: 400px) {
    padding: 1rem !important;
  }
}

.form-container {
  width: 100%;
  border-radius: 12px;
  color: $color-blue-dark;
  border: 10px double;
  background-color: $color-blue-fade;
  padding: 1em;
  padding-top: 20px;
  opacity: 0;
  animation: anim-lineUp 1s ease-out 0s 1 normal forwards;
  -moz-animation: anim-lineUp 1s ease-out 0s 1 normal forwards;
  -webkit-animation: anim-lineUp 1s ease-out 0s 1 normal forwards;
  -o-animation: anim-lineUp 1s ease-out 0s 1 normal forwards;
  -ms-animation: anim-lineUp 1s ease-out 0s 1 normal forwards;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(90%);
  }
  18% {
    opacity: 0;
  }
  40% {
    opacity: 1;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.form-display-flex {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  font-size: large;
}

.categories-group {
  border-radius: 8px;
  height: 13rem;
  border-color: $color-blue-dark;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y:auto;
  padding: 15px 5px;
  gap:8px;
  row-gap: 2px;
  background-color: rgba($color-blue-white, 75%);
  max-width: 60%;
  overflow-y: auto;

  @media all and (max-width:450px) {
    max-width: 100%;
  }

  &::-webkit-scrollbar {
    width: 15px;
    border-radius: 8px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    order: 3px $color-blue-fade solid;
    border-radius: 10px;
    background-color: $color-blue-dark;
  }

  & > div {
    background-color: rgba($color-blue-fade, 85%);
    border: 3px solid $color-blue-dark;
    border-radius: 8px;
    padding: 4px 5px;
    max-width: 40%;
    height: fit-content;
    overflow: hidden; /* make sure it hides the content that overflows */
    white-space: nowrap; /* don't break the line */
    text-overflow: ellipsis; /* give the beautiful '...' effect */
  }
}

.btn-green {
  color: $color-green-dark;
  font-weight: 800;
  font-size: medium;
  border-radius: 8px;
  padding: 3px;
  background-color: $color-green-fade;
  border: 3px solid;
  margin-right: auto;
  cursor: pointer;
  transition: all .4s;

  &:hover{
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;  
  }

  &:active{
    transform: translateY(10px);
  }
}

.btn-red {
  color: whitesmoke;
  font-weight: 700;
  font-size: medium;
  border-radius: 8px;
  padding: 3px;
  background-color: red;
  border: 2px solid rgb(255, 85, 0);
  margin-right: auto;
  cursor: pointer;
  transition:
    border-color 0.6s,
    box-shadow 0.6s;
}

.btn-red:hover {
  border-color: whitesmoke;
  box-shadow:
    rgba(255, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(255, 0, 0, 0.05) 0px 4px 6px -2px;
}

.close-btn {
  position: absolute;
  top: -2.3rem;
  right: -1.8rem;
  width: 2rem;
  height: 2rem;
  font-size: 32px;
  color: rgb(62, 60, 60);
  font-weight: 800;
  border: none;
  background: none;
  cursor: pointer;
  transition: text-shadow 0.5s;

  @media all and (max-width:700px) {
    top: -2.1rem;
    -webkit-text-stroke: 1px rgba(white, 55%);
  }

  &:hover {
    text-shadow:
      3px 3px 20px red,
      -2px 1px 30px red;
  }

  &:active {
    color: red;
  }
}

.anim-line-down {
  animation: anim-lineDown 0.5s ease-out 0s 1 normal forwards;
  -moz-animation: anim-lineDown 0.5s ease-out 0s 1 normal forwards;
  -webkit-animation: anim-lineDown 0.5s ease-out 0s 1 normal forwards;
  -o-animation: anim-lineDown 0.5s ease-out 0s 1 normal forwards;
  -ms-animation: anim-lineDown 0.5s ease-out 0s 1 normal forwards;
}

@keyframes anim-lineDown {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  45% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(90%);
  }
}