.field {
  display: flex;
  flex-direction: row;
  column-gap: 1.2rem;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;

  @media only screen and (max-width: 405px) {
    align-items: flex-start;
    row-gap: 0.5rem;
    flex-direction: column;
  }
}

.field-group-btns {
  display: flex;
  flex-direction: row;
  column-gap: 1.2rem;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.textArea {
  width: 100%;
  padding: 10px;
  height: 27em;
  color: $color-gray-2;
  caret-color: $color-blue-dark;
  font-weight: 600;
  border: 3px solid $color-blue;
  border-radius: 10px;
  resize: none;

  &::placeholder {
    color: rgba(129, 127, 127, 0.7);
  }

  &:focus {
    outline: none;
    -moz-box-shadow: 0 0 5px $color-blue;
    -webkit-box-shadow: 0 0 5px $color-blue;
    -o-box-shadow: 0 0 5px $color-blue;
    -ms-box-shadow: 0 0 5px $color-blue;
    box-shadow: 0 0 5px $color-blue;
  }

  &::-webkit-scrollbar {
    padding: 5px;
    width: 15px;
    border-radius: 50px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border: 3px $color-blue-dark solid;
    border-radius: 10px;
    background-color: $color-blue-fade;
  }
}

.email-input {
  border: 2px solid $color-blue-dark;
  padding: 3px;
  border-radius: 5px;
  color: $color-gray-2;
  font-weight: 600;

  &:focus {
    outline: none;
    -moz-box-shadow: 0 0 5px $color-blue;
    -webkit-box-shadow: 0 0 5px $color-blue;
    -o-box-shadow: 0 0 5px $color-blue;
    -ms-box-shadow: 0 0 5px $color-blue;
    box-shadow: 0 0 5px $color-blue;
  }

  &::placeholder {
    color: rgba($color-gray-1, 0.7);
  }
}

.label-email {
  @media all and (max-width: 320px) {
    width: max-content;
  }

  &::after {
    content: "*";
    color: rgb(220, 86, 52);
  }
}

.inputDiv {
  & > input[type="text"] {
    position: relative;
    border: 2px solid $color-blue-dark;
    padding: 3px;
    border-radius: 5px;
    color: $color-gray-2;
    font-weight: 600;

    &::placeholder {
      color: rgba($color-gray-1, 0.7);
    }

    @media all and (max-width: 340px) {
      max-width: 70%;
    }

    & ~ label[custom] {
      position: relative;
    }

    & ~ label[custom]::after {
      content: attr(custom);
      position: absolute;
      bottom: 1rem;
      left: -16em;
      width: 10rem;
      padding: 3px;
      text-align: center;
      font-size: 12px;
      z-index: 1;
      background-color: $color-blue-dark;
      color: white;
      border-radius: 5px;
      border: 2px solid;
      opacity: 0;
      visibility: hidden;
      transition: opacity 1.5s;
      font-weight: 800;
    }
  }

  & > input[type="text"]:hover ~ label[custom]::after {
    opacity: 1;
    visibility: visible;
  }

  & > input[type="text"]:focus {
    outline: none;
    -moz-box-shadow: 0 0 5px $color-blue;
    -webkit-box-shadow: 0 0 5px $color-blue;
    -o-box-shadow: 0 0 5px $color-blue;
    -ms-box-shadow: 0 0 5px $color-blue;
    box-shadow: 0 0 5px $color-blue;
  }

  & > label:has(+ input[required])::after {
    content: "*";
    color: rgb(220, 86, 52);
  }
}

.contact-form {
  & > h2 {
    text-align: center;
  }

  .btn {
    text-align: center;
    border-radius: 7px;
    background-color: $color-green-fade;
    color: $color-green-dark;
    padding: 8px 20px 8px;
    font-weight: 800;
    border: 2px double;
    letter-spacing: 1px;
    cursor: pointer;
    display: inline-block;
    max-width: fit-content;
    transition: all 0.2s;

    &:not(:disabled):hover {
      color: $color-green-fade;
      background-color: $color-green-dark;
    }

    &:not(:disabled):active {
      transform: translateY(10px);
    }
  }
}

div.field:has(> .btn-blue) {
  margin-top: 2em;
}

.btn-blue {
  color: $color-blue-dark;
  font-size: large;
  font-weight: 600;
  padding: 4px;
  border: 3px solid;
  border-radius: 5px;
  background-color: rgba($color-blue-white, 0.75);
  cursor: pointer;
  transition: all 0.6s;

  &:disabled {
    cursor: auto;
    opacity: 0.5;
  }

  &:not(:disabled) {
    &:hover {
      text-shadow: 0 0 1.3px #777;
      box-shadow:
        3px 1px 8px $color-blue,
        -2px 1px 20px $color-blue-dark;
    }

    &:active {
      transform: translateY(8px);
    }
  }

  &.red {
    color: $color-red;
    background-color: lighten($color-red-fade, 10%);

    &:not(:disabled):hover {
      box-shadow:
        3px 1px 8px $color-red-fade,
        -2px 1px 20px $color-red;
    }
  }
}
