.field {
  display: flex;
  flex-direction: row;
  column-gap: 1.2rem;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;

  @media only screen and (max-width: 405px) {
    align-items: flex-start;
    row-gap: 0.5rem;
    flex-direction: column;
  }
}

.field-group-btns {
  display: flex;
  flex-direction: row;
  column-gap: 1.2rem;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.textArea {
  width: 100%;
  padding: 10px;
  height: 27em;
  color: $color-gray-2;
  caret-color: $color-blue-dark;
  font-weight: 600;
  border: 3px solid $color-blue;
  border-radius: 10px;
  resize: none;

  &::placeholder {
    color: rgba(129, 127, 127, 0.7);
  }

  &:focus {
    outline: none;
    -moz-box-shadow: 0 0 5px $color-blue;
    -webkit-box-shadow: 0 0 5px $color-blue;
    -o-box-shadow: 0 0 5px $color-blue;
    -ms-box-shadow: 0 0 5px $color-blue;
    box-shadow: 0 0 5px $color-blue;
  }

  &::-webkit-scrollbar {
    padding: 5px;
    width: 15px;
    border-radius: 50px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border: 3px $color-blue-dark solid;
    border-radius: 10px;
    background-color: $color-blue-fade;
  }
}

.email-input {
  border: 2px solid $color-blue-dark;
  padding: 3px;
  border-radius: 5px;
  color: $color-gray-2;
  font-weight: 600;

  &:focus {
    outline: none;
    -moz-box-shadow: 0 0 5px $color-blue;
    -webkit-box-shadow: 0 0 5px $color-blue;
    -o-box-shadow: 0 0 5px $color-blue;
    -ms-box-shadow: 0 0 5px $color-blue;
    box-shadow: 0 0 5px $color-blue;
  }

  &::placeholder {
    color: rgba($color-gray-1, 0.7);
  }
}

.label-email {
  @media all and (max-width: 320px) {
    width: max-content;
  }

  &::after {
    content: "*";
    color: rgb(220, 86, 52);
  }
}

.inputDiv {
  & > input[type="text"] {
    position: relative;
    border: 2px solid $color-blue-dark;
    padding: 3px;
    border-radius: 5px;
    color: $color-gray-2;
    font-weight: 600;

    &::placeholder {
      color: rgba($color-gray-1, 0.7);
    }

    @media all and (max-width: 340px) {
      max-width: 70%;
    }

    & ~ label[custom] {
      position: relative;
    }

    & ~ label[custom]::after {
      content: attr(custom);
      position: absolute;
      bottom: 1rem;
      left: -16em;
      width: 10rem;
      padding: 3px;
      text-align: center;
      font-size: 12px;
      z-index: 1;
      background-color: $color-blue-dark;
      color: white;
      border-radius: 5px;
      border: 2px solid;
      opacity: 0;
      visibility: hidden;
      transition: opacity 1.5s;
      font-weight: 800;
    }
  }

  & > input[type="text"]:hover ~ label[custom]::after {
    opacity: 1;
    visibility: visible;
  }

  & > input[type="text"]:focus {
    outline: none;
    -moz-box-shadow: 0 0 5px $color-blue;
    -webkit-box-shadow: 0 0 5px $color-blue;
    -o-box-shadow: 0 0 5px $color-blue;
    -ms-box-shadow: 0 0 5px $color-blue;
    box-shadow: 0 0 5px $color-blue;
  }

  & > label:has(+ input[required])::after {
    content: "*";
    color: rgb(220, 86, 52);
  }
}

.contact-form {
  margin-left: 5em;
  margin-right: 5em;
  min-height: 40em;
  border-radius: 12px;
  color: $color-blue-dark;
  border: 10px double;
  background-color: rgba($color-blue-fade, 0.85);
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1em;
  font-size: larger;
  font-weight: 600;

  & > h2 {
    text-align: center;
  }

  .btn {
    text-align: center;
    border-radius: 7px;
    background-color: $color-green-fade;
    color: $color-green-dark;
    padding: 8px 20px 8px;
    font-weight: 800;
    border: 2px double;
    letter-spacing: 1px;
    cursor: pointer;
    display: inline-block;
    max-width: fit-content;
    transition: all 0.2s;

    &:hover {
      color: $color-green-fade;
      background-color: $color-green-dark;
    }

    &:active {
      transform: translateY(10px);
    }
  }

  @media all and (max-width: 700px) {
    margin-left: 10px;
    margin-right: 10px;
  }
}

// ------------------ drop down -----------------------------
.label-dropdown {
  display: inline-block;
  pointer-events: none;
  width: max-content;
  font-weight: 900;
}

.btnWithDropDown {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-category {
  position: relative;
  margin-right: auto;
  outline: none;
  cursor: pointer;
  padding: 1px;
  min-width: 8em;
  height: 1.4rem;
  color: $color-blue;
  font-weight: 600;
  border: 3px solid $color-blue-dark;
  border-radius: 5px;
  background-color: white;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 12em;

  &:focus {
    -moz-box-shadow: 0 0 5px $color-blue-dark;
    -webkit-box-shadow: 0 0 5px $color-blue-dark;
    -o-box-shadow: 0 0 5px $color-blue-dark;
    -ms-box-shadow: 0 0 5px $color-blue-dark;
    box-shadow: 0 0 5px $color-blue-dark;
  }

  &::after {
    content: "\25be"; // arrow down
    color: $color-blue-dark;
    font-weight: 900;
    font-size: larger;
    position: absolute;
    right: 2px;
    top: -4px;
    transition: transform 0.5s;
  }
}

.btn-category-active.btn-category::after {
  transform: rotate(180deg);
}

.dropdown {
  position: absolute;
  top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba($color-blue-fade, 0.85);
  border-radius: 5px;
  border: 2px solid $color-blue-dark;
  min-width: 7rem;
  max-width: 14rem;
  z-index: 1;
  max-height: 7rem;
  overflow-y: auto;

  &::-webkit-scrollbar {
    padding: 5px;
    width: 15px;
    border-radius: 50px;
    background-color: rgba($color-blue-white, 0.75);
  }

  &::-webkit-scrollbar-thumb {
    border: 3px $color-blue-dark solid;
    border-radius: 10px;
    background-color: $color-blue;
  }

  & > button {
    font-weight: 700;
    color: $color-blue-dark;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: text-shadow 0.6s;
    align-self: stretch;

    &:hover {
      text-shadow: 0 0 2.8px $color-blue;
    }
  }

  & > button:nth-child(2n) {
    background-color: rgba($color-blue, 0.65);
    color: white;

    &:hover {
      text-shadow: 0 0 2.8px white;
    }
  }
}

.dropdown > button.btn-blocked {
  text-decoration: line-through;
  text-decoration-style: solid;
  text-decoration-color: red;
  text-decoration-thickness: 0.08rem;
  cursor: default;
  &:hover {
    text-shadow: none;
  }
}

.no-display {
  opacity: 0;
  visibility: hidden;
}

.animation-go-down {
  @include animation(go-down 0.5s linear 0s 1 normal forwards);
}

@keyframes go-down {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animation-go-up {
  @include animation(go-up 0.5s linear 0s 1 normal forwards);
}

@keyframes go-up {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@media all and (max-width: 600px) {
  .label-dropdown {
    overflow-wrap: break-word;
  }
}

div.field:has(> .btn-blue) {
  margin-top: 2em;
}

.btn-blue {
  color: $color-blue-dark;
  font-size: large;
  font-weight: 600;
  padding: 4px;
  border: 3px solid;
  border-radius: 5px;
  background-color: rgba($color-blue-white, 0.75);
  cursor: pointer;
  transition: all 0.6s;

  &:hover {
    text-shadow: 0 0 1.3px #777;
    box-shadow:
      3px 1px 8px $color-blue,
      -2px 1px 20px $color-blue-dark;
  }

  &:active {
    transform: translateY(8px);
  }

  &.red {
    color: $color-red;
    background-color: lighten($color-red-fade, 10%);

    &:hover {
      box-shadow:
        3px 1px 8px $color-red-fade,
        -2px 1px 20px $color-red;
    }
  }
}
