.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(100, 99, 99, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  @media all and (max-width: 400px) {
    padding: 1rem !important;
  }
}

.panel-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: auto min-content;
  align-items: flex-start;
  opacity: 0;
  @include animation(anim-go-down-fade 1s ease-out 0s 1 normal forwards);

  .close-btn-x {
    grid-column: 2/-1;
    height: 1.7rem;
    width: 1.7rem;
    justify-self: end;
    transform: translate(1.2vw, 5px);
    cursor: pointer;
    transition: all 0.5s;

    @media only screen and (max-width: $breakpoint-phone) {
      transform: translate(2vw, 2px);
    }

    &:hover {
      -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
      filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
    }

    &:before {
      content: "";
      display: block;
      height: 100%;
      background-color: rgb(62, 60, 60);
      -webkit-mask-image: url("/public/close-bold-svgrepo-com.svg");
      mask-image: url("/public/close-bold-svgrepo-com.svg");
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-size: cover;
      mask-size: cover;
    }
  }
}

.panel-container {
  grid-row-start: 2;
  grid-column: 1/-1;
  min-width: 50vw;
  max-height: 90vh;
  border-radius: 12px;
  color: $color-blue-dark;
  border: 10px double;
  background-color: $color-blue-fade;
  padding: 2rem 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;

  @include scrollbar(14px);

  @media only screen and (max-width: $breakpoint-phone) {
    min-width: 30vw;
    padding: 2rem 3px;
    @include scrollbar();
  }
}

.panel-mind-extended {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  & > h1 {
    text-align: center;
  }
}

.panel-max-extended {
  height: 90vh;
  width: 80vw;

  @media only screen and (max-width: $breakpoint-phone) {
    width: 90vw;
  }

  & > h2 {
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  & > label.category-label {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: $color-green-fade;
    color: $color-green-dark;
    border: 2px dashed;
    font-size: small;
    border-radius: 2px;
    padding: 5px;
  }
}
