.footer {
  margin-top: auto;
  background-color: $color-blue;
  background: linear-gradient(
    90deg,
    rgba(197, 222, 230, 1) 0%,
    rgba($color-blue, 1) 100%
  );
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  height: 8vh;
  border-top: 2px solid $color-blue;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 30px 5px;
  align-items: center;
  position: relative;
  overflow: hidden;

  &__logo {
    border-radius: 20%;
    height: 3em;
    width: 3rem;
    background-color: darken($color-blue, 10%);
    -webkit-mask-image: url("/notebook.svg");
    mask-image: url("/notebook.svg");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: left center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &__logo_name {
    color: darken($color-blue, 5%);
    font-size: 1.7em;
    font-weight: 800;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  // animation mouse hover
  @media only screen and (hover: hover) {
    &::before {
      --size: 0;
      content: "";
      position: absolute;
      left: var(--x);
      top: var(--y);
      width: var(--size);
      height: var(--size);
      background: radial-gradient(circle closest-side, white, transparent);
      transform: translate(-50%, -50%);
      transition:
        width 0.2s ease,
        height 0.2s ease;
    }

    &:hover::before {
      --size: 2.5rem;
    }
  }
}
