.nav {
  position: relative;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  padding: 8px;
  background-color: $color-blue;
  display: flex;
  align-items: center;
  gap: 2em;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  transition: box-shadow 0.7s;

  @media only screen and (max-width: $breakpoint-phone) {
    flex-direction: column;
    padding-bottom: 1em;
  }

  &:hover {
    box-shadow: 0 3px 10px 3px #777;
  }

  div {
    flex: 1;
    text-align: center;
  }

  .nav_element {
    font-size: 1.5em;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: white;
    text-decoration: none;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: text-shadow 0.5s;

    &:hover {
      text-shadow: 3px 3px 1px #777;
      text-decoration: underline 3px;
      text-decoration-style: dashed;
      text-underline-position: under;
      text-underline-offset: 2px;

      @media only screen and (max-width: $breakpoint-phone) {
        font-size: 1.5em;
      }
    }
  }

  .nav_element.nav_selected,
  .nav_element.nav_selected:hover {
    font-size: 1.8em;
    text-decoration: none;
    text-shadow: none;
    cursor: default;
  }

  .nav_element.nav_selected::before {
    content: "|";
    content: "«";
    margin-right: 3px;
  }

  .nav_element.nav_selected::after {
    content: "|";
    content: "»";
    margin-left: 3px;
  }
}

.logo {
  height: 3em;
  flex-basis: 60px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
