.contact-form{
  margin-left: 5em;
  margin-right: 5em;
  background-color: rgb(245, 222, 179);
  min-height: 40em;
  border:6px double rgb(237, 113, 5);
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap:0.5rem;
  padding: 1em;
  color: rgb(237, 113, 5);
  font-size: larger;
  font-weight: 600;
}

.contact-form h2{
  text-align: center;
}

.btn{
  text-align: center;
  border-radius: 7px;
  background-color: rgb(138, 219, 17);
  color:rgb(56, 162, 21);
  padding: 5px;
  width: 4rem;
  font-weight: 800;
  border: 4px double;
  cursor: pointer;
}

.btn:hover{
  border-style: solid;
}

.btn:active{
  border-color: rgb(138, 219, 17);
}

@media all and (max-width: 700px) { 
  .contact-form{
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
}
