.settings-panel{
  margin-left: 5em;
  margin-right: 5em;
  background-color: rgb(245, 222, 179);
  min-height: 40em;
  border:6px double rgb(237, 113, 5);
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap:0.5rem;
  padding: 1em;
  color: rgb(237, 113, 5);
  font-size: larger;
  font-weight: 600;
}

.forms-panel h2{
  text-align: center;
  font-weight: 900;
  text-decoration: underline dotted;
  text-underline-position: under;
  text-underline-offset: 1px;
}

.forms-panel{
  padding:10px;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  border: 3px solid rgb(237, 113, 5);
  border-radius: 10px;
  gap:2rem;
}

.btn-to-form{
  padding: 5px;
  color: rgb(237, 113, 5);
  background-color: rgba(246, 212, 173, 0.85);
  font-size: large;
  font-weight: 700;
  border: 3px solid;
  border-radius: 10px;
  margin-left:auto;
  margin-right: auto;
  cursor: pointer;
  transition: box-shadow 0.65s;
}

.btn-to-form:hover{
  box-shadow: rgb(237, 113, 5) 0px 5px 10px 0px;
}

@media all and (max-width: 700px) { 
  .settings-panel{
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
}